.main-wrapper {
  width: 960px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.tabs {
  display: inline-block;
}
hr {
  border-style: solid;
  border-width: 1px;
  color: #ccc;
  margin: 5px 0 10px 0;
}

input {
  display: block;
  margin-bottom: 20px;
}
